{
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "^react$",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@services/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
